In [1]:
import os
import datetime as dt
import pandas as pd
pd.set_option('display.max_rows', None)

In [2]:
os.getcwd()

'/home/a201843240/동백전 연구'

In [3]:
os.listdir()

['4월이후_data.csv',
 '2021년 4월 이전 Google Play 데이터 전처리.ipynb',
 '.ipynb_checkpoints',
 '2021년 4월 이후 Google Play 데이터 전처리.ipynb',
 '웹크롤링-구글플레이.ipynb',
 '4월이전_data.csv']

In [4]:
df = pd.read_csv('4월이후_data.csv')

In [5]:
df.head()

,DATE,STAR,LIKE,REVIEW
0,2021년 06월 25일,별표 5개 만점에 1개를 받았습니다.,91.0,"캐시백 한도가 30만원 이면 충전한도도 30만원, 보유한도도 30만원으로 결정하면되..."
1,2021년 07월 22일,별표 5개 만점에 1개를 받았습니다.,1.0,로코 이벤트라고 3천원 주더니 사용조건이 충전금 전액사용 이후에 카드캐시네? 자동충...
2,2021년 06월 30일,별표 5개 만점에 1개를 받았습니다.,12.0,진짜 ui부터 편의기능 싹다 최악이네ㅡㅡ 삼성페이등록도 안돼 바코드결제도 안돼 qr...
3,2021년 07월 02일,별표 5개 만점에 1개를 받았습니다.,10.0,업뎃 이후에 개인정보 동의 안하면 화면이 안넘어가네요 이건 먼짓거리인지..쓸수록 짜...
4,2021년 06월 30일,별표 5개 만점에 1개를 받았습니다.,5.0,계좌등록 여러건 등록 안되나요? 입금 출금 전부다 계좌 인증하면서 수시로 바꿔야하네...

In [6]:
df.shape

(860, 4)

In [7]:
df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 860 entries, 0 to 859
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    860 non-null    object
 1   STAR    860 non-null    object
 2   LIKE    443 non-null    float64
 3   REVIEW  860 non-null    object
dtypes: float64(1), object(3)
memory usage: 27.0+ KB

__날짜 전처리__

In [8]:
df['DATE'] = df['DATE'].str.replace('년 ', '-') # 'yyyy-m-dd' 형식으로 변환
df['DATE'] = df['DATE'].str.replace('월 ', '-')
df['DATE'] = df['DATE'].str.replace('일', '')

df['DATE'] = df['DATE'].astype('datetime64') # datetime 형식으로 변환

In [9]:
df['DATE'].head()

0   2021-06-25
1   2021-07-22
2   2021-06-30
3   2021-07-02
4   2021-06-30
Name: DATE, dtype: datetime64[ns]

__별점 전처리__

In [10]:
df['STAR'] = df['STAR'].str[10:11].astype('int') # 별점 숫자만 추출, 문자형식을 정수로 변환

In [11]:
df['STAR'].head()

0    1
1    1
2    1
3    1
4    1
Name: STAR, dtype: int64

__추천수 전처리__

In [12]:
df['LIKE'] = df['LIKE'].fillna(0).astype('int') # 실수를 정수로 변환

In [13]:
df['LIKE'].head()

0    91
1     1
2    12
3    10
4     5
Name: LIKE, dtype: int64

In [14]:
df_like = df.sort_values(by=['LIKE'], ascending=False) # 추천수 기준으로 내림차순 정렬해서 살펴봄 (443개 행에 추천수 존재)

df_like.head(10)

          DATE  STAR  LIKE                                             REVIEW
11  2021-06-06     1   139  전반적으로 저번 업체에 비해 불편함. 특히 캐시백 사용하기가 제일 불편함. 이 어플...
124 2021-04-06     1   107  이전 동백전앱보다 직관성이나 사용의 편의성이 많이 떨어지는 것 같습니다. 첫 화면이...
15  2021-06-02     1   100  캐시백 세부사용내역 보여주세요. 기본에 기본도 안되어 있는듯요. 누가 도대체 개발하...
0   2021-06-25     1    91  캐시백 한도가 30만원 이면 충전한도도 30만원, 보유한도도 30만원으로 결정하면되...
119 2021-04-06     1    74  0점!! 앱 열자마자 카드신청 단계이고, (구 동백전카드 사용 여부와 관계없이,무조...
321 2021-04-03     2    70  선불카드도 차이코퍼레이션처럼 기명으로해서 삼성페이 등 간편결제 가능하도록 해주세요....
177 2021-04-05     1    68  카드 이관 신청을 하는 데 카드 재발급이 '필수'네요. 새로운 부산 동백전 선불카드...
12  2021-06-07     1    55  지난 잔액과 이번 잔액 비교가 되었으면 좋겠습니다. 최소한 어린애 가계부도 입출내역...
130 2021-04-06     1    49  마케팅 광고는 왜 넣었으며..왜 선불카드 의무 발급하도록 하는지요?? 공지도 카드 ...
167 2021-04-05     2    49  자주하는 질문에 기존 동백전카드 사용가능하다고 해서 앱깔고 잔액 이관신청하니 카드 ...

=========================================================================================================

In [15]:
df = df[['DATE', 'STAR', 'REVIEW', 'LIKE']].sort_values(by=['DATE']) # 열 순서 조정, 날짜 기준으로 오름차순

In [16]:
df.head(10)

          DATE  STAR                                             REVIEW  LIKE
831 2021-04-02     5                                            동백전 오픈!     1
606 2021-04-02     5         오! 드디어 새로운 동백전 완전 기대하고 있습니다! 좋은 서비스 부탁해용~~     7
660 2021-04-02     5  가지고 있던 동백전 잔액이 잘 옮겨질까요? 정말 이거되면 대박인데! 응원하는 주주 ...     4
734 2021-04-02     5                                           최고의 지역화폐     3
628 2021-04-02     5                                  새로워진 동백전 기대가 됩니다~     2
501 2021-04-02     5                           이전과 차별화된 편의성과 서비스 기대합니다!    33
674 2021-04-02     5                                   새로운동백전 기대가 큽니다~!     1
846 2021-04-02     5                                               좋아요~     1
847 2021-04-02     5                                                  굿     1
579 2021-04-02     5  인천에서 사용하는 앱과 비슷하겠죠?? 편리하다고 하던데 기대됩니다. 그 전앱이 너무...    10

In [17]:
df.tail(10)

          DATE  STAR                                             REVIEW  LIKE
608 2021-07-15     1                              예전 이관되기전에 카드 사용되나요 ??     0
47  2021-07-15     3  케이뱅크도 지원 좀 해주세요. 카카오뱅크도 있는데 1금융권인 케이뱅크가 없는건 이해...     0
10  2021-07-18     1  21/07/18 설문조사하라해서 설문조사중 맨밑에 건의사항 적고 있는데 갑자기 휴대...     4
53  2021-07-19     1  ㅋㅋㅋ불편사항 백날 말하면 머하누 매크로가 답변하는데 ㅋㅋㅋ +네 매크로저격하는 리...     0
8   2021-07-19     2  연결계좌 여러개 할수 있도록 조치 부탁 드립니다 충전시 연결계좌가 하나라 사용이 너...     4
181 2021-07-20     2                                         가맹점찾비불편합니다     0
39  2021-07-21     5                       다 좋긴한데 빠른시일내에 삼성페이 연동되길 바랍니다     0
442 2021-07-21     3                     업데이트가안되요ㅜㅜ 설정에서 데이터 삭제했는데두요 ㅜㅜ     0
1   2021-07-22     1  로코 이벤트라고 3천원 주더니 사용조건이 충전금 전액사용 이후에 카드캐시네? 자동충...     1
808 2021-07-23     4                                  부산에서 사용해서는 정말 좋아요     0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 860 entries, 831 to 808
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    860 non-null    datetime64[ns]
 1   STAR    860 non-null    int64
 2   REVIEW  860 non-null    object
 3   LIKE    860 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 33.6+ KB

In [20]:
df.to_csv('4월이후_googleplay_전처리완료.csv')