In [1]:
import os
import datetime as dt
import pandas as pd
pd.set_option('display.max_rows', None)

In [2]:
os.getcwd()

'/home/a201843240/동백전 연구'

In [3]:
os.listdir()

['4월이후_data.csv',
 '2021년 4월 이전 Google Play 데이터 전처리.ipynb',
 '.ipynb_checkpoints',
 '2021년 4월 이후 Google Play 데이터 전처리.ipynb',
 '웹크롤링-구글플레이.ipynb',
 '4월이전_data.csv']

In [4]:
df = pd.read_csv('4월이전_data.csv')

In [5]:
df.head()

,DATE,STAR,LIKE,REVIEW
0,2021년 2월 27일,별표 5개 만점에 5개를 받았습니다.,132.0,동백전 잘쓰고 있었는데 4월부터 코나아이로 이관된다니 너무 아쉽습니다ㅠㅠ 코나카드로...
1,2021년 3월 27일,별표 5개 만점에 5개를 받았습니다.,77.0,앱도깔끔하고 너무잘썻는데 어디로 이관된다하니 이용자입장에선 짜증나네요.. 전혀 불만...
2,2021년 2월 9일,별표 5개 만점에 1개를 받았습니다.,65.0,본인인증에 재발송 안하고 다음을 클릭했는데.. 왜 계속 인증번호가 날아오고...본인...
3,2021년 2월 9일,별표 5개 만점에 3개를 받았습니다.,8.0,초기에 앱 오류 및 접속 잘 안됨 하나카드 엉망 지금 2021년 1월 잘됨 좋음
4,2021년 2월 24일,별표 5개 만점에 5개를 받았습니다.,7.0,안드로이드11로 업데이트 후 알림이 부분적으로 오지 않습니다.

In [6]:
df.shape

(1715, 4)

In [7]:
df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    1715 non-null   object
 1   STAR    1715 non-null   object
 2   LIKE    275 non-null    float64
 3   REVIEW  1715 non-null   object
dtypes: float64(1), object(3)
memory usage: 53.7+ KB

__날짜 전처리__

In [8]:
df['DATE'] = df['DATE'].str.replace('년 ', '-') # 'yyyy-m-dd' 형식으로 변환
df['DATE'] = df['DATE'].str.replace('월 ', '-')
df['DATE'] = df['DATE'].str.replace('일', '')

df['DATE'] = df['DATE'].astype('datetime64') # datetime 형식으로 변환

In [9]:
df['DATE'].head()

0   2021-02-27
1   2021-03-27
2   2021-02-09
3   2021-02-09
4   2021-02-24
Name: DATE, dtype: datetime64[ns]

__별점 전처리__

In [10]:
df['STAR'] = df['STAR'].str[10:11].astype('int') # 별점 숫자만 추출, 문자형식을 정수로 변환

In [11]:
df['STAR'].head()

0    5
1    5
2    1
3    3
4    5
Name: STAR, dtype: int64

__추천수 전처리__

In [12]:
df['LIKE'] = df['LIKE'].fillna(0).astype('int') # 실수를 정수로 변환

In [13]:
df['LIKE'].head()

0    132
1     77
2     65
3      8
4      7
Name: LIKE, dtype: int64

In [14]:
df_like = df.sort_values(by=['LIKE'], ascending=False) # 추천수 기준으로 내림차순 정렬해서 살펴봄 (275개 행에 추천수 존재)

df_like.head(10)

          DATE  STAR  LIKE                                             REVIEW
53  2020-07-27     4   285  잘쓰고있는데 잔액 확인하고 싶을 때마다 일일이 들어가서 확인하는게 너무 불편해요. ...
25  2020-04-21     3   208  캐시백 많이 되고 취지 및 실사용에 대해서는 아주 만족하고 있습니다. 다만, 앱의 ...
0   2021-02-27     5   132  동백전 잘쓰고 있었는데 4월부터 코나아이로 이관된다니 너무 아쉽습니다ㅠㅠ 코나카드로...
67  2020-04-13     1   115  갑자기 4월 10일(금) 점심시간때부터 "네트워크상태가 원활하지 않습니다. 연결상태...
27  2020-05-08     5   100  앱으로 카드 신청할 땐 와이파이 안되서 데이터로 신청했고요. 카드 받고 나선 데이터...
36  2020-04-13     3    77  안드로이드 5.0 사용자 입니다 얼마전까지 앱으로 충전 사용등모든 기능이 이루어졌었...
1   2021-03-27     5    77  앱도깔끔하고 너무잘썻는데 어디로 이관된다하니 이용자입장에선 짜증나네요.. 전혀 불만...
167 2020-11-14     2    75  알뜰폰 유심으로 변경후 인증된 폰번호와 일치하지 않다는 메세지나옴ㅡ초기화해주세오ㅡ ...
2   2021-02-09     1    65  본인인증에 재발송 안하고 다음을 클릭했는데.. 왜 계속 인증번호가 날아오고...본인...
357 2020-12-30     3    60  업데이트가 안되시는분들은 구글스토어 앱정보에서 업데이트 삭제(구글 스토어) 하시고 ...

=========================================================================================================

In [15]:
df = df[['DATE', 'STAR', 'REVIEW', 'LIKE']].sort_values(by=['DATE']) # 열 순서 조정, 날짜 기준으로 오름차순

In [16]:
df.head(10)

           DATE  STAR                                             REVIEW  LIKE
279  2019-12-27     5  부산에도 기다리던 지역화폐가 나왔네요 앱도 깔끔하고 카드도 바로 신청하고 잘 사용하...     8
1682 2019-12-27     5                                                화이팅     4
809  2019-12-28     5                                 기다렸었는데 앞으로 잘 쓸게요^^     4
698  2019-12-28     5    동백전으로 여기저기 많이 사용해 볼게요. 부산 경제에도 많은 도움이 되면 좋겠습니다.     4
558  2019-12-28     5              부산 동백전 쓰기 편하게 잘 만들어졌네요 부산에서 혜택이 많았겠네요     5
639  2019-12-28     5                  잘 사용해 볼게요. 동백전으로 혜택 많이 받으면 좋겠습니다.     4
1204 2019-12-28     5                                   가자 글로벌 테스트베드 부산!     3
72   2019-12-29     5  오~ 부산도 드디어 모바일 지역화폐가 나왔네요!~ 앱설치하고 카드신청도 해봤는데요 ...    53
610  2019-12-30     5                          군더더기 없이 사용하기 편하고 좋습니다. ^^     2
553  2019-12-30     5                                    설치가 아주 간단하고 쉽네요     2

In [17]:
df.tail(10)

           DATE  STAR                                             REVIEW  LIKE
839  2021-03-29     5                                          부산동백전사랑하요     0
1256 2021-03-31     5                                              아듀 동백     0
1255 2021-04-01     5                                                도성무     0
549  2021-04-01     1            동백전 카드에 있는 돈을 쓸수 있는건가요?? 이관 될 줄 몰랐는데요ㅠㅠ     1
536  2021-04-05     1                       동백전 되나요? 전 코나로 계속 문의하라뜨네요~ ㅠ     1
5    2021-04-05     1          왜 연계 사용이 안되나요? 코나아이로 자동 연결되게 해야 되는거 아닌가요?     3
486  2021-04-05     1        대체 어 떤 정치적 목적과 꽌시로 멀쩡히 잘운영하던업체를 이관한단말입니까???     2
13   2021-04-05     1  서비스 종료인데 구 어플 안내리냐?? 새 업체 어플인줄알고 또깔앗자나 이것들 정신못...     1
10   2021-04-06     5  역시 예전 동백전이 디자인도 예뻤고 앱 구성이 간단해서 좋았던것같습니다 새로운 동백...     0
471  2021-04-11     5                      지나고 보니 kt 동백전이 좋았다는 것을 깨달았네요.     0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1715 entries, 279 to 471
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    1715 non-null   datetime64[ns]
 1   STAR    1715 non-null   int64
 2   REVIEW  1715 non-null   object
 3   LIKE    1715 non-null   int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 67.0+ KB

In [23]:
df.to_csv('4월이전_googleplay_전처리완료.csv')